@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


html{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(225, 217, 217);
}


.navbar{
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(46, 44, 44);
    list-style-type: none;
    padding: 16px;
}

li{
    display: inline;
    padding-top: 5px;
}

ul{
    padding-left: 0px;
}

.nav{
    color: white;
}

.contact_lien{
    color: black;
}
.nav, .contact_lien{
    display: inline;
    border: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 2px ;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
    text-decoration: none;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

.nav:hover{
    border: solid;
    border-color: white;
    background-color: white;
    color: rgb(46, 44, 44);
    border-width: 2px ;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
    text-decoration: none;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

.contact_lien:hover{
    border: solid;
    border-color: rgb(64, 63, 63);
    background-color: rgb(64, 63, 63);
    color: white;
    border-width: 2px ;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
    text-decoration: none;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

header{
    padding-top: 15px;
    padding-left: 8px;
}

#pdp{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 220px;
    float: right;
    padding: 8px;
    border-radius: 15px;
}

.titre {
    padding: 5px;
    padding-left: 8px;
}

.icone{
   margin-right: 10px;
   width: 40px;
   height: 40px;
   max-width: 50px;
   max-height: 50px;
   padding-left: 8px;
}

section{
    border: solid;
    border-width: 2px;
    margin: 4px;
    margin-top: 15px;
    margin-right: 0px;
    padding: 5px;
}

#first{
    margin-top: 90px;
}

#contact_p{
    font-size: 15px;
    display: flex;
    align-items: center;
}

hr{
    width: 99%;
    height: 0.1px;
    border-color: black;
    background-color: black;
    border-radius: 15px;
    border: solid;
}

p{
    padding: 3px;
    padding-top: 10px;  
    padding-bottom: 10px; 
}

.detail{
    padding-left: 20px;
}

h2{
    padding-left: 7px;
}

progress{
    border: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 3px;
}

progress::-webkit-progress-value{
    background-color: rgb(55, 58, 66);
}

progress::-webkit-progress-bar{
    background-color: whitesmoke;
}

h3{
    padding-top: 10px;
    padding-left: 5px;
    text-decoration: underline;
}

.titreCompetence{
    padding: 3px;
    padding-bottom: 5px; 
    padding-top: 3px;
    text-decoration: underline;
}

.texteCompetence{
    padding: 3px;
    padding-bottom: 0px; 
    padding-top: 0px;
}

.texteQualites{
    padding: 3px;
    padding-top: 5px;
}

#cvImg{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 700px;
    padding: 8px;
    border-radius: 15px;
}

#btnDownload{
    margin-top: 5px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 15px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

#btnDownload:hover{
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    color: black;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

.expProDiv{
    border: solid;
    border-width: 2px;
    border-color: rgb(58, 55, 55);
    margin: 7px;
    margin-top: 10px;
    border-radius: 15px;
    padding-bottom: 5px;
}

#gel43{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 210px;
    float: right;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.divers_lien{
    display: inline;
    border: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 1px ;
    border-radius: 20px;
    padding: 2px;
    text-decoration: none;
    color: black;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

.divers_lien:hover{
    border: solid;
    border-color: rgb(64, 63, 63);
    background-color: rgb(64, 63, 63);
    color: white;
    border-width: 1px ;
    border-radius: 20px;
    padding: 2px;
    text-decoration: none;
    transition: 
    background-color 0.3s, 
    border-color 0.3s,
    color 0.3s;
}

.texteDivers{
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    margin-bottom: 8px;
}


#kingdom_of_desire{
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 210px;
    float: right;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.divProjet{
    border-color: black;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 300px;
    margin-right: 300px;
}

.titreProjet{
    font-size: 20px;
    text-decoration: none;
    padding-top: 0px;
}

.lienProjet, .infoProjet{
    border-radius: 15px;
    background-color: rgb(51, 49, 49);
    padding: 5px;
    padding-inline-start: 9px;
    padding-inline-end: 9px;
    display: inline;
    color: rgb(225, 217, 217);
}

.containerProjet{
    text-align: center;
    display: grid;

}