/* #dns {
    width: 200px;
  } */

  #dhcp {
    width: 200px;
    float: right;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  #dns33 {
    width: 200px;
    float: right;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 5px;
  }


  #dns33 {
    width: 200px;
    float: right;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 5px;
    padding-bottom: 5px;
  }